Assignment 1/Food Classification dataset
Assignment 1/food_image_classification
Assignment 1/a1.py
Assignment 1/kaggle.json
Assignment 1/a1_base
Assignment 1/a1_fine_tuned_model
.DS_Store
Report_Template.qmd
